---
export const partial = true;

import images from "../content/images.json";
import messages from "../content/messages.json";

const image = images[Math.floor(Math.random() * images.length)];
const message = messages[Math.floor(Math.random() * messages.length)];
---

<div class="flex w-96 h-96 items-center justify-center">
  <img
    src={`https://kudos-generator.s3.us-east-1.amazonaws.com/${image}`}
    alt=""
    class="h-full w-full object-contain"
  />
</div>
<p class="text-center mt-2">{message}</p>
